In [1]:
import pandas as pd 
import re
import nltk
import numpy as np

In [2]:
df = pd.read_csv("Arabic tweets classification project/df_with_txt.csv")
df.head()

,id,txt,dialect
0,1175358310087892992,@Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .,IQ
1,1175416117793349632,@7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...,IQ
2,1175450108898565888,@KanaanRema مبين من كلامه خليجي,IQ
3,1175471073770573824,@HAIDER76128900 يسلملي مرورك وروحك الحلوه💐,IQ
4,1175496913145217024,@hmo2406 وين هل الغيبه اخ محمد 🌸🌺,IQ

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458000 entries, 0 to 457999
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       458000 non-null  int64
 1   txt      458000 non-null  object
 2   dialect  458000 non-null  object
dtypes: int64(1), object(2)
memory usage: 10.5+ MB

# # Data pre-processing

In [4]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [5]:
def remove_en_emj(text):
    en_free= re.sub('([@A-Za-z0-9_ـــــــــــــ]+)|[^\w\s]|#|http\S+', '', text)
    return en_free

df['txt']= df['txt'].apply(lambda x:remove_en_emj(x))
df.head()

,id,txt,dialect
0,1175358310087892992,لكن بالنهاية ينتفض يغير,IQ
1,1175416117793349632,يعني هذا محسوب على البشر حيونه ووحشيه وتطلب...,IQ
2,1175450108898565888,مبين من كلامه خليجي,IQ
3,1175471073770573824,يسلملي مرورك وروحك الحلوه,IQ
4,1175496913145217024,وين هل الغيبه اخ محمد,IQ

In [6]:
def noramlize(Tweet):
    Tweet = re.sub(r"[إأٱآا]", "ا", Tweet)
    Tweet = re.sub(r"ى", "ي", Tweet)
    Tweet = re.sub(r"ؤ", "ء", Tweet)
    Tweet = re.sub(r"ئ", "ء", Tweet)
    Tweet = re.sub(r'[^ا-ي ]', "", Tweet)

    noise = re.compile(""" ّ    | # Tashdid
                         َ    | # Fatha
                         ً    | # Tanwin Fath
                         ُ    | # Damma
                         ٌ    | # Tanwin Damm
                         ِ    | # Kasra
                         ٍ    | # Tanwin Kasr
                         ْ    | # Sukun
                         ـ     # Tatwil/Kashida
                     """, re.VERBOSE)
    Tweet = re.sub(noise, '', Tweet)
    return Tweet


df['txt']= df['txt'].apply(lambda x:noramlize(x))

In [7]:
def stopWordRmove(text):
    ar_stop_list = open("list.txt", encoding="utf-8") 
    stop_words = ar_stop_list.read().split('\n')   
    needed_words = []
    words = nltk.word_tokenize(text)
    for w in words:
        if w not in (stop_words):
            needed_words.append(w)
    filtered_sentence = " ".join(needed_words)
    return filtered_sentence


df['txt']= df['txt'].apply(lambda x:stopWordRmove(x))

In [9]:
df.to_csv('Arabic tweets classification project/clean_data.csv', index=False)