In [1]:
import requests
import pandas as pd

In [2]:
url = 'https://recruitment.aimtechnologies.co/ai-tasks'
myobj = [
"1055620304465215616", "1057418989293485952"
]


x = requests.post(url, json = myobj)
x.json()

{'1055620304465215616': '@MahmoudWaked7 @maganenoo ÙÙŠ Ø·Ø±ÙŠÙ‚ Ù…Ø·Ø±ÙˆØ­ Ù…Ø±ÙƒØ² Ø¨Ù‡ÙŠØ¬  ÙˆØ§Ù„Ù…Ø±ÙƒØ² Ø§Ù„ÙŠ Ø§Ù„ÙŠ Ø¬Ù…Ø¨Ù‡ Ø§Ø³Ù…Ù‡ Ø§ÙŠÙ‡ğŸ˜‚ğŸ˜‚',
 '1057418989293485952': '@mycousinvinnyys @hanyamikhail1 Ù…ØªÙ‡ÙŠØ§Ù„ÙŠ Ø¯ÙŠ Ø´ÙƒÙˆÙ„Ø§ØªÙ‡ Ø§Ù„Ù‡Ø§Ù„ÙˆÙŠÙ†  ÙÙŠÙ† Ø§Ù„Ù…Ø­Ù„ Ø¯Ù‡'}

In [3]:
df = pd.read_csv('dialect_dataset.csv')
df.head()

                    id dialect
0  1175358310087892992      IQ
1  1175416117793349632      IQ
2  1175450108898565888      IQ
3  1175471073770573824      IQ
4  1175496913145217024      IQ

In [4]:
df_t = list(df.id.astype(str))
len(df_t)

458197

In [5]:
q=0
s1 = pd.DataFrame()
for i in range(1,459):
    j = i *1000
    x = requests.post(url, json = df_t[q:j])
    s2 = pd.Series(x.json())
    s2 = s2.reset_index()
    s1 = s1.append(s2)
    q=j

In [6]:
s1.columns = ["id", "txt"]

In [7]:
s1

                      id                                                txt
0    1175358310087892992   @Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .
1    1175416117793349632  @7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...
2    1175450108898565888                    @KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3    1175471073770573824         @HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’
4    1175496913145217024                 @hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡  Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº
..                   ...                                                ...
995  1088352896842956800  @Zzainabali Ù„ÙŠÙ† ØµØ¨Ø­Ù†Ø§ Ø¨ÙˆØ¬Ù‡Ø´ Ø²ÙŠÙ† Ù„Ù‡ Ø³Ø¹Ø§Ø¯Ù‡ Ù…Ø§Ø¨Ø¹Ø¯...
996  1088437262499659776             @mimi1562_ Ø¨Ø§Ù„Ø¹Ø§ÙÙŠÙ‡ ÙÙ‚Ù„ÙŠ Ù…Ù† Ø§Ù„Ø§ÙƒÙ„ ğŸ˜‹ğŸ˜‹ğŸ˜‹ğŸ˜‹
997  1088665169616687232             @mimi1562_ Ù…Ù† Ù…Ø¯Ø­ Ù†ÙØ³Ù‡ ÙŠØ¨ÙŠ Ù„Ù‡ ğŸƒâ€â™‚ï¸ğŸƒâ€â™‚ï¸
998  1090527423844806784  @P_ameerah Ø§ÙŠÙŠÙŠÙŠ Ø§Ø­Ø¨Ù‡Ø§ ÙˆØ§Ø­Ø¨ ØªØ­ØªÙ‡Ø§ Ø·Ø§ÙˆÙ„Ù‡ Ù„Ù„ÙƒØ±Ùƒ ...
999  1090947679977439232    @mariam82ali Ø¬ÙŠØ¨ÙŠ Ù…Ø·Ø±Ù‚Ù‡ Ø´ÙˆÙÙŠ Ø§Ù‡Ø¯Ù… ÙˆØ§Ù‡Ø¯Ù… Ø§Ø¨ÙˆÙ‡ ğŸ˜…ğŸ˜…

[458000 rows x 2 columns]

In [8]:
df2 = df.copy()
df2['id'] = df['id'].astype(str)
df2

                         id dialect
0       1175358310087892992      IQ
1       1175416117793349632      IQ
2       1175450108898565888      IQ
3       1175471073770573824      IQ
4       1175496913145217024      IQ
...                     ...     ...
458192  1019484980282580992      BH
458193  1021083283709407232      BH
458194  1017477537889431552      BH
458195  1022430374696239232      BH
458196  1022409931029458944      BH

[458197 rows x 2 columns]

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458197 entries, 0 to 458196
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       458197 non-null  object
 1   dialect  458197 non-null  object
dtypes: object(2)
memory usage: 7.0+ MB

In [10]:
s1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 458000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      458000 non-null  object
 1   txt     458000 non-null  object
dtypes: object(2)
memory usage: 10.5+ MB

In [11]:
final = s1.merge(df2, on = 'id')
final.head()

,id,txt,dialect
0,1175358310087892992,@Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .,IQ
1,1175416117793349632,@7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...,IQ
2,1175450108898565888,@KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ,IQ
3,1175471073770573824,@HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’,IQ
4,1175496913145217024,@hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº,IQ

In [12]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 458000 entries, 0 to 457999
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       458000 non-null  object
 1   txt      458000 non-null  object
 2   dialect  458000 non-null  object
dtypes: object(3)
memory usage: 14.0+ MB

In [16]:
final.head()

,id,txt,dialect
0,1175358310087892992,@Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .,IQ
1,1175416117793349632,@7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...,IQ
2,1175450108898565888,@KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ,IQ
3,1175471073770573824,@HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’,IQ
4,1175496913145217024,@hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº,IQ

In [14]:
final.to_csv('df_with_txt.csv', index=False)